@import "./mixin";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  @include reset();
  background-color: $white;
  color: $text_black;
}

.container {
  @include container();
}


