@import './mixin';

* {
  list-style: none;
  text-decoration: none;
}
body {
  font-size: 16px;
  background-color: $text_black;
  color: #fff;
  overflow-x: hidden;
  font-family: $roboto;
}

.container {
  @include container();
}

.py-1 {
  padding: 1.5rem 0;
}
